* {
    font-family: tradesmithregular;
}

.header{
    background-color: ghostwhite;

}

.navbar-brand.logo img{
    width: 13rem;
}

#navbarNavDropdown{
    flex-grow: 0;
}

#galeria {
    border: .1rem solid black;
}
.seccion-nosotros{
    text-align: center;
}
.nosotros{
    font-size: 3.5rem;
    margin: 1rem ;
    font-weight: 100;
}
.seccion-agenda{
    border: 0.25rem solid black;
}

.logos_redes {
    width: 70px;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }